.gradle/
build/
generated/
logs/

# Ignore Gradle GUI config
gradle-app.setting

# Ignore files open in vim
**/*.swp

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Eclipse IDE
.settings/
.classpath
.project
bin/

# JNI
*.class
*.h
*.so
